* { box-sizing:
       border-box; } 
body { 
       background-color: #90C7E3; 
       color: #666666;
       font-family: Arial, Verdana, sans-serif;
       margin: 0;
}

main { 
       padding-top: 0%;
       padding-bottom: 0%;
       padding-left: 1em;
       padding-right: 1em;
       display:block;
 }

header { background-color: #002171; 
         color: #FFFFFF;
         font-family: Georgia, 'Times New Roman', sans-serif;
         margin-left: 170px;
         background-repeat: no-repeat;
         padding: 1.5em; 
}

header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF;}
header a:hover { color: #90C7E3; } 

h1 {
      text-align: center;
      margin-left: 170px;
      font-size: 1.5em;   
}

h2 { color: #1976D2; 
	 font-family: Georgia, "Times New Roman", serif; }

nav { 
      font-size:1.2em; 
      text-align: center;
      background-color: #FFFFFF;
}
nav a:link { 
       color: #5C7FA3; 
}

nav a:visited {
        color: #344873; 
       }

nav a:hover {
        color: #A52A2A; 
       }

nav { }

nav ul { 
       display: flex;
       flex-direction: column;
       margin: 0;
       list-style-type: none;
       padding-left: 0; 
}

nav li { padding-top: .5em;
         padding-bottom: .5em;
         padding-right: 1em;
         padding-left: 1em;
         width: 100%;
         border-bottom: 1px solid #CCCCCC;
}

nav a { text-decoration: none; }

dt { color: #002171; 
     font-weight: bold; }

.resort { color: #1976D2; 
              font-size: 1.2em; }

footer { text-align: center;
         font-size: .70em;
         font-style: italic;
         padding: 1em;
         background-color: #FFFFFF; 
          }

section { 
          padding-left: .5em;
          padding-right: .5em; 
       }

#wrapper { background-color: #FFFFFF;
           min-width: 960px;
           max-width: 2048px;
 }

#homehero { background: url(coast.jpg) no-repeat;
            background-size: 200% 100%;
            height: 300px;
             }

#yurthero { background: url(yurt.jpg) no-repeat;
            background-size: 200% 100%;
            height: 300px;
             }

#trailhero { background: url(trail.jpg) no-repeat;
             background-size: 200% 100%;
             height: 300px; 
       }
#mobile {
    display: inline;
}

#desktop {
    display: none;
}
