* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.6;
}


#wrapper {
    background-color: #FFFFFF;
    max-width: 2048px;
    width: 80%;
    margin: 0 auto;
    padding: 0 1em;
}


header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 1.5em;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s;
}

header a:hover {
    color: #90C7E3;

    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', serif;
    margin: 0.5em 0;
}


nav {
    background-color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5em 1em;
    width: 100%;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    text-decoration: none;
    display: block;
}

nav a:link { color: #5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }


@media (min-width: 600px) {
    h1 {
        font-size: 2em;
        letter-spacing: 0.25em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 10%;
        padding-left: 10%;
    }

    nav li {
        border-bottom: none;
        border-right: 1px solid #CCCCCC;
        width: 12em;
    }

    nav li:last-child {
        border-right: none;
    }
}


section {
    padding: 1em 2em;
}


#flow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}


footer {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
}


#homehero, #yurthero, #trailhero {
    background-size: cover;
    background-position: center;
    height: 300px;
}

#homehero { background-image: url(coast.jpg); }
#yurthero { background-image: url(yurt.jpg); }
#trailhero { background-image: url(trail.jpg); }


@media (min-width: 1024px) {
    #wrapper {
        background: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }
}
